/* modalDivulgueOngs */


#formularioContainer {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 500px; /* Define a largura máxima do conteúdo do formulário */
    resize: none;
}

#ongForm label, input, textarea {
    margin-bottom: 10px;
    margin-top: 5px;
}

#caracteresRestantes {
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 14px;
    color: #333333b5;

}

#nomeOng, #historiaOng, #imagemOng, #urlOng {
    width: 100%; /* Ocupa toda a largura do container */
    resize: none;
}

#nomeOng, #historiaOng, #urlOng{
    border:2px solid #333333a4;
    outline: none;
    border-radius: 5px;
}

#historiaOng{
    width: 100%;
    height: 70px;
}
#nomeOng, #urlOng {
    width: 100%;
    height: 30px;
}

#modalDivulgueOngs .modal-content h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    margin-top: 10px; 
}

#modalDivulgueOngs .modal-content p {
    font-size: 20px;
    font-weight: bold; /* Texto em negrito */
    text-align: center;
    margin-top: 15px; /* Margem superior de 20px */
    margin-bottom: 40px;
}

#enviarForm, #reset {
    display: inline-block; /* Coloca os botões em linha */
    margin-right: 10px; /* Adicione margem à direita para criar espaço entre os botões */
    padding: 5px 15px; /* Adicione preenchimento interno aos botões */
    background-color: #7d84b2;
    color: #f9f9ed;
    border: none; /* Remova a borda do botão */
    border-radius: 5px; /* Adicione cantos arredondados */
    cursor: pointer; /* Mude o cursor para indicar que é um botão clicável */
    font-size: 15px; /* Tamanho da fonte */
}

#enviarForm:hover, #reset:hover {
    background-color: #5b608f; /* Alterar a cor de fundo no hover */
    color: #fff; /* Alterar a cor do texto no hover */
  }


/* TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE

/* Estilos para os cartões */
.ong-card-container {
    display: flex;
    justify-content: center; /* Alinhe os cartões horizontalmente com espaço ao redor */
    flex-wrap: wrap; /* Quebre para a próxima linha se não couberem todos em uma linha */
    margin: 0 auto; /* Centralize o contêiner na página */
  }

.ong-card {
    width: 250px;
    height: 250px;
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column; /* Alinhe o conteúdo verticalmente */
    justify-content: space-between; /* Alinhe o conteúdo verticalmente */
    text-align: center; /* Centralize o texto horizontalmente */
    position: relative;
    z-index: 1;
    overflow: hidden; /* Oculte o overflow para esconder o texto */
  }
  
  /* Imagem no cartão */
  .ong-card img {
    width: 100%; /* Defina a largura como "auto" */
    height: 100%; /* Defina a altura como 100% */
    object-fit: contain;
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
  }
  
  /* Conteúdo (título, história e botão) no cartão */
  .ong-card .content {
    flex-grow: 1; /* Faça o conteúdo crescer para preencher o espaço restante */
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8); /* Fundo para o texto */
    opacity: 0; /* Inicialmente, o texto está oculto */
    transition: opacity 0.2s; /* Adicione uma transição suave para a opacidade */
  }
  
  /* Estilos para o título */
  .ong-card h3 {
    color: #fdf8f8;
    font-size: 18px;
    margin: 10px; /* Aumente a margem para alinhar com o início do card */
    padding-bottom: 5px;
    padding-top: 10px;
  }
  
  /* Estilos para a história */
  .ong-card p {
    color: #fff;
    font-size: 14px;
    margin: 0 10px; /* Aumente a margem para alinhar com o início do card */
    text-align: justify;
    padding-bottom: 10px;
  }
  
 /* Estilos para o botão "Ajude aqui" com a cor #7d84b2 e sem sublinhado */
.ong-card .help-button {
    text-align: center;
    background-color: #7d84b2; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 10px; /* Tamanho do preenchimento */
    font-size: 15px; /* Tamanho da fonte */
    border: none; /* Remover a borda do botão */
    border-radius: 5px; /* Adicionar cantos arredondados */
    cursor: pointer; /* Mudar o cursor ao passar o mouse */
    text-decoration: none; /* Remover o sublinhado do texto */
    transition: background-color 0.2s, color 0.2s; /* Adicionar transições suaves */
  }
  
  /* Estilizar o botão no hover */
  .ong-card .help-button:hover {
    background-color: #5b608f; /* Alterar a cor de fundo no hover */
    color: #fff; /* Alterar a cor do texto no hover */
  }  
  
  /* Quando o cartão está em hover, o estilo muda */
  .ong-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgb(0, 0, 0);
  }
  
  /* Mostrar o texto quando passar o mouse */
  .ong-card:hover .content {
    opacity: 1;
    z-index: 2;
  }